* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* THIS IS IMPORTANT */
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
